<a href="https://colab.research.google.com/github/rohitgautamm/YOLO-Object-Detection/blob/master/WPGPathToAIQuery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing Important Libraries**

In [0]:
import pandas as pd
import numpy as np

**Defining Pandas DataFrame**

In [0]:
DF = pd.DataFrame({"A":[1,2,3],'B':[3,4,5],'C':[6,"Some String",8]})

In [49]:
DF

   A  B            C
0  1  3            6
1  2  4  Some String
2  3  5            8

**Converting Datatype str to type np.nan which none type in numpy and equivalant to NaN in Pandas**

In [51]:
for i in range(len(DF["C"])):
  if type(DF["C"][i]) == str:
    print(type(DF["C"][i]) == str)
    DF["C"][i] = np.nan
  else:
    print("False")

False
True
False

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

Now you can see the DF has NaN in it in place of String

In [52]:
DF

   A  B    C
0  1  3    6
1  2  4  NaN
2  3  5    8

Finally we use pandasDf.fillna function to fill it with mean values in the NaN specified data point, you cacn use median as well

In [53]:
DF.C.fillna(value=DF.C.mean())

0    6.0
1    7.0
2    8.0
Name: C, dtype: float64